@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

#wrapper {
    box-sizing:border-box;
    width: 320px;
    height: 240px;
    background-color: darkgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
                    "header1 main1 main1"
                    "header1 main1 main1"
                    "section1 main1 main1 "
                    ;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 3px;
}

main {
    grid-area: main1;
    
}
section {
    grid-area: section1;
}
#queerc {
    grid-area: header1;
    background-color: white;
    background-image: url("../images/lq1.png");
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    width: 101px;
    height: 154px;
    box-shadow: 1px 1px 2px black, 0 0 20px black, 0 0 5px darkblue;
    font-family: 'PT Sans', sans-serif;
    color: white;
    text-align: center;
}

#mainbg {
    background-image: url("../images/bg1.png");
    background-size: cover;
    border-radius: 10px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    text-align: center;
}
#position,
#pronoun {
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 4px black, 0 0 25px black, 0 0 6px darkblue;
  }
#name {
    color: white;
    font-size: 35px;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkblue;
}
#div1 {
    position: relative;
    margin-left: 13%;
    margin-bottom: 4px;
}
#div2 {
    position: relative;
    margin-left: 32%;
    margin-bottom: 4px;
}
button {
    box-shadow: 1px 1px 2px black, 0 0 4px black, 0 0 6px darkblue;
}

